# __RECOMMENDATION SYSTEM__

<hr>
<hr>

- Top / Popular Based Filtering
- Content-Based Filtering
- Collaborative Filtering

<img src="https://www.researchgate.net/profile/Lionel_Ngoupeyou_Tondji/publication/323726564/figure/fig5/AS:631605009846299@1527597777415/Content-based-filtering-vs-Collaborative-filtering-Source.png">

In [1]:
import numpy as np
import pandas as pd

## 1. _Content-Based Filtering_

<hr>

- melihat kesamaan item dari kategori dll

<hr>

__A. Cosinus Similarity__

- menghitung kesamaan data berdasarkan value dan pola value

#### ```from sklearn.metrics.pairwise import cosine_similarity```

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
x = np.array([1, 2, 3])
y = np.array([1, 2, 3])

In [24]:
similarityScore = cosine_similarity([x, y])
similarityScore

array([[1., 1.],
       [1., 1.]])

In [25]:
simDf = pd.DataFrame(
    similarityScore,
    columns=['x', 'y'],
    index= ['x', 'y'])

In [26]:
simDf

     x    y
x  1.0  1.0
y  1.0  1.0

In [5]:
x = np.array([1, 1, 1])
y = np.array([1, 2, 1])
similarityScore = cosine_similarity([x, y])
similarityScore

array([[1.        , 0.94280904],
       [0.94280904, 1.        ]])

In [6]:
# data beda elemen namun tiap data elemen sama
x = np.array([1, 1, 1])
y = np.array([2, 2, 2])
similarityScore = cosine_similarity([x, y])
similarityScore

array([[1., 1.],
       [1., 1.]])

In [21]:
x = np.array([1, 2, 3])
y = np.array([5, 5, 5])
similarityScore = cosine_similarity([x, y])
similarityScore

array([[1.       , 0.9258201],
       [0.9258201, 1.       ]])

<hr>

__B. Count Vectorizer__

- bagaimana menghitung cos similarity untuk categorical data (value berupa string)
- Data di-extract untuk menentukan jumlah tiap kata. Jumlah tiap kata dalam data itulah yang dicari cosine similarity-nya
- di sklearn, gunakan ```CountVectorizer```

#### ```from sklearn.feature_extraction.text import CountVectorizer```

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
x = 'Andi Budi Caca'
y = 'Andi Budi Caca'

In [30]:
countvec = CountVectorizer()

In [32]:
c = countvec.fit_transform([x, y])
c

<2x3 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [34]:
#kata yg terkandung
countvec.get_feature_names()

['andi', 'budi', 'caca']

In [37]:
# matriks frequency : freq tiap kata di setiap data
mf = c.toarray()
mf

#[[1, 1, 1] => data 1 = andi 1x, budi 1x, caca 1x
#[1, 1, 1]] => data 2 = andi 1x, budi 1x, caca 1x

array([[1, 1, 1],
       [1, 1, 1]], dtype=int64)

In [38]:
similarityScore = cosine_similarity(mf)
similarityScore

#       X  Y
#  X [[1., 1.]
#  Y  [1., 1.]]

array([[1., 1.],
       [1., 1.]])


|NO.|NAMABARANG|KATEGORI|MERK|GRADE|COMBINE|
|---|---|---|---|---|---|
|1. |Tamiya A| Mainan | Tamniya |   HIGH | Tamiya A Mainan Tamiya HIGH|

In [39]:
x = 'Andi Budi Caca'
y = 'Andi Budi Budi'
countvec = CountVectorizer()
c = countvec.fit_transform([x, y])
print(countvec.get_feature_names())
print(c.toarray())

similarityScore = cosine_similarity(c.toarray())
print(similarityScore)

['andi', 'budi', 'caca']
[[1 1 1]
 [1 2 0]]
[[1.         0.77459667]
 [0.77459667 1.        ]]

<hr>

### _CONTOH_

- Content-Based Filtering by __*Brand*__ and __*Color*__

In [41]:
df = pd.read_csv('USA_cars_datasets.csv')
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [80]:
# create column contains value combinations between brand and color

df['BC'] = df.apply(lambda row: str(row['brand']) + ' ' + str(row['color']), axis=1)
df['MC'] = df['model'] + ' ' +  df['color']
df.head(3)

df[df['BC'] == 'toyota black']

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,BC,MC
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,toyota black,cruiser black

In [50]:
# count vectorizer : hitung kata di tiap data di column BC

cv = CountVectorizer()
cm = cv.fit_transform(df['BC'])

# total kata unik di column BC
print(cv.get_feature_names())

# matrix frequency tiap kata 
print(cm.toarray())
print(cm.toarray()[0])

['acura', 'audi', 'beige', 'benz', 'billet', 'black', 'blue', 'bmw', 'bright', 'brown', 'buick', 'burgundy', 'cadillac', 'cayenne', 'charcoal', 'chevrolet', 'chrysler', 'clearcoat', 'coat', 'color', 'competition', 'crimson', 'dark', 'davidson', 'dodge', 'ford', 'glacier', 'gmc', 'gold', 'gray', 'green', 'guard', 'harley', 'heartland', 'honda', 'hyundai', 'infiniti', 'ingot', 'jaguar', 'jazz', 'jeep', 'kia', 'kona', 'land', 'lexus', 'light', 'lightning', 'lincoln', 'magnetic', 'maroon', 'maserati', 'mazda', 'mercedes', 'metallic', 'morningsky', 'nissan', 'no_color', 'off', 'orange', 'oxford', 'pearl', 'pearlcoat', 'peterbilt', 'phantom', 'platinum', 'purple', 'ram', 'red', 'royal', 'ruby', 'shadow', 'silver', 'super', 'tan', 'tinted', 'toreador', 'toyota', 'tri', 'triple', 'turquoise', 'tuxedo', 'white', 'yellow']
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
[0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0]

In [83]:
# hitung cosine similarity dari tiap data di matrix frequency

similarityScore = cosine_similarity(cm.toarray())
similarityScore[0]

array([1. , 0. , 0. , ..., 0. , 0.5, 0. ])

In [89]:
# gunakan similarity score sebagai data rekomendasi
# misal saya suka mobil data pertama (index ke-0)

# daftar seluruh mobil beserta similarity scorenya
similarCars = list(enumerate(similarityScore[0]))
similarCars # (index, nilai kesamaannya)

[(0, 0.9999999999999998),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (6, 0.4999999999999999),
 (7, 0.0),
 (8, 0.0),
 (9, 0.4999999999999999),
 (10, 0.0),
 (11, 0.0),
 (12, 0.4999999999999999),
 (13, 0.0),
 (14, 0.4999999999999999),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0),
 (21, 0.4999999999999999),
 (22, 0.4999999999999999),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.0),
 (28, 0.0),
 (29, 0.0),
 (30, 0.0),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.4999999999999999),
 (36, 0.0),
 (37, 0.0),
 (38, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (43, 0.0),
 (44, 0.4999999999999999),
 (45, 0.4999999999999999),
 (46, 0.0),
 (47, 0.0),
 (48, 0.0),
 (49, 0.4999999999999999),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.4999999999999999),
 (63, 0.4999999999999999),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.4999999999999999),
 (71, 0.0),
 (72, 0.4999999999999999),
 (73, 0.4999999999999999),
 (74, 0.0),
 (75, 0.0),
 (76, 0.0),
 (77, 0.0),
 (78, 0.4999999999999999),
 (79, 0.0),
 (80, 0.4999999999999999),
 (81, 0.0),
 (82, 0.4999999999999999),
 (83, 0.0),
 (84, 0.4999999999999999),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.0),
 (89, 0.4999999999999999),
 (90, 0.0),
 (91, 0.4999999999999999),
 (92, 0.0),
 (93, 0.0),
 (94, 0.0),
 (95, 0.0),
 (96, 0.4999999999999999),
 (97, 0.0),
 (98, 0.4999999999999999),
 (99, 0.4999999999999999),
 (100, 0.4999999999999999),
 (101, 0.0),
 (102, 0.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.0),
 (106, 0.0),
 (107, 0.0),
 (108, 0.4999999999999999),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.4999999999999999),
 (118, 0.0),
 (119, 0.0),
 (120, 0.4999999999999999),
 (121, 0.0),
 (122, 0.4999999999999999),
 (123, 0.4999999999999999),
 (124, 0.4999999999999999),
 (125, 0.0),
 (126, 0.0),
 (127, 0.4999999999999999),
 (128, 0.0),
 (129, 0.0),
 (130, 0.4999999999999999),
 (131, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.0),
 (137, 0.0),
 (138, 0.0),
 (139, 0.4999999999999999),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.4999999999999999),
 (144, 0.0),
 (145, 0.4999999999999999),
 (146, 0.0),
 (147, 0.0),
 (148, 0.0),
 (149, 0.0),
 (150, 0.0),
 (151, 0.0),
 (152, 0.0),
 (153, 0.0),
 (154, 0.0),
 (155, 0.4999999999999999),
 (156, 0.0),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.4999999999999999),
 (164, 0.0),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (170, 0.0),
 (171, 0.4999999999999999),
 (172, 0.4999999999999999),
 (173, 0.4999999999999999),
 (174, 0.4999999999999999),
 (175, 0.0),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (185, 0.4999999999999999),
 (186, 0.0),
 (187, 0.0),
 (188, 0.0),
 (189, 0.0),
 (190, 0.0),
 (191, 0.4999999999999999),
 (192, 0.0),
 (193, 0.0),
 (194, 0.0),
 (195, 0.4999999999999999),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (199, 0.0),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.0),
 (205, 0.0),
 (206, 0.4999999999999999),
 (207, 0.4999999999999999),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.0),
 (214, 0.0),
 (215, 0.0),
 (216, 0.0),
 (217, 0.0),
 (218, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.4999999999999999),
 (222, 0.0),
 (223, 0.0),
 (224, 0.4999999999999999),
 (225, 0.0),
 (226, 0.0),
 (227, 0.0),
 (228, 0.4999999999999999),
 (229, 0.4999999999999999),
 (230, 0.0),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.0),
 (235, 0.0),
 (236, 0.0),
 (237, 0.0),
 (238, 0.0),
 (239, 0.0),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.0),
 (258, 0.0),
 (259, 0.0),
 (260, 0.0),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0),
 (264, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (268, 0.4999999999999999),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (275, 0.0),
 (276, 0.0),
 (277, 0.0),
 (278, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.4999999999999999),
 (282, 0.0),
 (283, 0.0),
 (284, 0.0),
 (285, 0.4999999999999999),
 (286, 0.0),
 (287, 0.0),
 (288, 0.0),
 (289, 0.4999999999999999),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (299, 0.0),
 (300, 0.4999999999999999),
 (301, 0.0),
 (302, 0.0),
 (303, 0.0),
 (304, 0.4999999999999999),
 (305, 0.0),
 (306, 0.4999999999999999),
 (307, 0.0),
 (308, 0.4999999999999999),
 (309, 0.0),
 (310, 0.0),
 (311, 0.0),
 (312, 0.4999999999999999),
 (313, 0.0),
 (314, 0.4999999999999999),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.4999999999999999),
 (319, 0.0),
 (320, 0.0),
 (321, 0.4999999999999999),
 (322, 0.0),
 (323, 0.0),
 (324, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.4999999999999999),
 (333, 0.0),
 (334, 0.0),
 (335, 0.0),
 (336, 0.4999999999999999),
 (337, 0.0),
 (338, 0.4999999999999999),
 (339, 0.4999999999999999),
 (340, 0.0),
 (341, 0.4999999999999999),
 (342, 0.0),
 (343, 0.0),
 (344, 0.0),
 (345, 0.0),
 (346, 0.4999999999999999),
 (347, 0.0),
 (348, 0.4999999999999999),
 (349, 0.0),
 (350, 0.4999999999999999),
 (351, 0.0),
 (352, 0.4999999999999999),
 (353, 0.4999999999999999),
 (354, 0.0),
 (355, 0.4999999999999999),
 (356, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.4999999999999999),
 (362, 0.0),
 (363, 0.0),
 (364, 0.0),
 (365, 0.4999999999999999),
 (366, 0.0),
 (367, 0.4999999999999999),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (378, 0.4999999999999999),
 (379, 0.0),
 (380, 0.408248290463863),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.4999999999999999),
 (389, 0.0),
 (390, 0.4999999999999999),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.4999999999999999),
 (399, 0.4999999999999999),
 (400, 0.0),
 (401, 0.0),
 (402, 0.4999999999999999),
 (403, 0.4999999999999999),
 (404, 0.0),
 (405, 0.0),
 (406, 0.0),
 (407, 0.0),
 (408, 0.0),
 (409, 0.4999999999999999),
 (410, 0.0),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.0),
 (415, 0.0),
 (416, 0.0),
 (417, 0.408248290463863),
 (418, 0.0),
 (419, 0.0),
 (420, 0.4999999999999999),
 (421, 0.0),
 (422, 0.4999999999999999),
 (423, 0.0),
 (424, 0.0),
 (425, 0.4999999999999999),
 (426, 0.0),
 (427, 0.0),
 (428, 0.0),
 (429, 0.0),
 (430, 0.0),
 (431, 0.0),
 (432, 0.0),
 (433, 0.0),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.4999999999999999),
 (438, 0.0),
 (439, 0.0),
 (440, 0.0),
 (441, 0.0),
 (442, 0.0),
 (443, 0.0),
 (444, 0.4999999999999999),
 (445, 0.4999999999999999),
 (446, 0.0),
 (447, 0.0),
 (448, 0.0),
 (449, 0.0),
 (450, 0.0),
 (451, 0.4999999999999999),
 (452, 0.4999999999999999),
 (453, 0.0),
 (454, 0.0),
 (455, 0.0),
 (456, 0.0),
 (457, 0.0),
 (458, 0.4999999999999999),
 (459, 0.0),
 (460, 0.0),
 (461, 0.0),
 (462, 0.4999999999999999),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.4999999999999999),
 (467, 0.0),
 (468, 0.0),
 (469, 0.4999999999999999),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.0),
 (474, 0.0),
 (475, 0.4999999999999999),
 (476, 0.4999999999999999),
 (477, 0.0),
 (478, 0.0),
 (479, 0.0),
 (480, 0.4999999999999999),
 (481, 0.4999999999999999),
 (482, 0.0),
 (483, 0.4999999999999999),
 (484, 0.0),
 (485, 0.0),
 (486, 0.0),
 (487, 0.0),
 (488, 0.0),
 (489, 0.0),
 (490, 0.0),
 (491, 0.4999999999999999),
 (492, 0.0),
 (493, 0.0),
 (494, 0.4999999999999999),
 (495, 0.4999999999999999),
 (496, 0.0),
 (497, 0.4999999999999999),
 (498, 0.0),
 (499, 0.0),
 (500, 0.0),
 (501, 0.0),
 (502, 0.0),
 (503, 0.4999999999999999),
 (504, 0.0),
 (505, 0.0),
 (506, 0.0),
 (507, 0.0),
 (508, 0.4999999999999999),
 (509, 0.0),
 (510, 0.0),
 (511, 0.4999999999999999),
 (512, 0.0),
 (513, 0.0),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.0),
 (524, 0.0),
 (525, 0.0),
 (526, 0.0),
 (527, 0.4999999999999999),
 (528, 0.0),
 (529, 0.0),
 (530, 0.0),
 (531, 0.0),
 (532, 0.0),
 (533, 0.0),
 (534, 0.0),
 (535, 0.4999999999999999),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.4999999999999999),
 (540, 0.0),
 (541, 0.0),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.0),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.0),
 (550, 0.408248290463863),
 (551, 0.0),
 (552, 0.0),
 (553, 0.4999999999999999),
 (554, 0.0),
 (555, 0.4999999999999999),
 (556, 0.0),
 (557, 0.0),
 (558, 0.0),
 (559, 0.0),
 (560, 0.0),
 (561, 0.0),
 (562, 0.0),
 (563, 0.4999999999999999),
 (564, 0.0),
 (565, 0.4999999999999999),
 (566, 0.0),
 (567, 0.4999999999999999),
 (568, 0.0),
 (569, 0.0),
 (570, 0.0),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.0),
 (575, 0.0),
 (576, 0.0),
 (577, 0.0),
 (578, 0.0),
 (579, 0.0),
 (580, 0.0),
 (581, 0.0),
 (582, 0.0),
 (583, 0.4999999999999999),
 (584, 0.0),
 (585, 0.4999999999999999),
 (586, 0.4999999999999999),
 (587, 0.0),
 (588, 0.0),
 (589, 0.4999999999999999),
 (590, 0.0),
 (591, 0.4999999999999999),
 (592, 0.0),
 (593, 0.0),
 (594, 0.0),
 (595, 0.0),
 (596, 0.0),
 (597, 0.0),
 (598, 0.0),
 (599, 0.0),
 (600, 0.0),
 (601, 0.0),
 (602, 0.4999999999999999),
 (603, 0.0),
 (604, 0.0),
 (605, 0.0),
 (606, 0.0),
 (607, 0.0),
 (608, 0.4999999999999999),
 (609, 0.4999999999999999),
 (610, 0.4999999999999999),
 (611, 0.4999999999999999),
 (612, 0.0),
 (613, 0.0),
 (614, 0.0),
 (615, 0.0),
 (616, 0.0),
 (617, 0.0),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.0),
 (622, 0.0),
 (623, 0.4999999999999999),
 (624, 0.0),
 (625, 0.0),
 (626, 0.0),
 (627, 0.4999999999999999),
 (628, 0.4999999999999999),
 (629, 0.0),
 (630, 0.4999999999999999),
 (631, 0.0),
 (632, 0.0),
 (633, 0.0),
 (634, 0.0),
 (635, 0.0),
 (636, 0.0),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.0),
 (641, 0.0),
 (642, 0.0),
 (643, 0.4999999999999999),
 (644, 0.0),
 (645, 0.0),
 (646, 0.4999999999999999),
 (647, 0.0),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.0),
 (653, 0.0),
 (654, 0.0),
 (655, 0.0),
 (656, 0.0),
 (657, 0.0),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.4999999999999999),
 (662, 0.4999999999999999),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.0),
 (667, 0.0),
 (668, 0.0),
 (669, 0.0),
 (670, 0.0),
 (671, 0.0),
 (672, 0.0),
 (673, 0.0),
 (674, 0.0),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.4999999999999999),
 (679, 0.0),
 (680, 0.0),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.4999999999999999),
 (687, 0.0),
 (688, 0.0),
 (689, 0.0),
 (690, 0.0),
 (691, 0.0),
 (692, 0.0),
 (693, 0.0),
 (694, 0.0),
 (695, 0.0),
 (696, 0.0),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.0),
 (703, 0.0),
 (704, 0.0),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.0),
 (709, 0.4999999999999999),
 (710, 0.4999999999999999),
 (711, 0.4999999999999999),
 (712, 0.4999999999999999),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.0),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.4999999999999999),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0),
 (726, 0.0),
 (727, 0.0),
 (728, 0.0),
 (729, 0.4999999999999999),
 (730, 0.0),
 (731, 0.0),
 (732, 0.0),
 (733, 0.0),
 (734, 0.0),
 (735, 0.0),
 (736, 0.0),
 (737, 0.0),
 (738, 0.4999999999999999),
 (739, 0.0),
 (740, 0.0),
 (741, 0.4999999999999999),
 (742, 0.4999999999999999),
 (743, 0.0),
 (744, 0.0),
 (745, 0.0),
 (746, 0.0),
 (747, 0.0),
 (748, 0.4999999999999999),
 (749, 0.0),
 (750, 0.0),
 (751, 0.0),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.0),
 (756, 0.0),
 (757, 0.0),
 (758, 0.0),
 (759, 0.4999999999999999),
 (760, 0.0),
 (761, 0.0),
 (762, 0.0),
 (763, 0.4999999999999999),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.0),
 (771, 0.0),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.0),
 (776, 0.4999999999999999),
 (777, 0.0),
 (778, 0.0),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.0),
 (783, 0.0),
 (784, 0.4999999999999999),
 (785, 0.0),
 (786, 0.0),
 (787, 0.0),
 (788, 0.0),
 (789, 0.0),
 (790, 0.0),
 (791, 0.0),
 (792, 0.0),
 (793, 0.0),
 (794, 0.0),
 (795, 0.0),
 (796, 0.0),
 (797, 0.4999999999999999),
 (798, 0.0),
 (799, 0.0),
 (800, 0.0),
 (801, 0.4999999999999999),
 (802, 0.0),
 (803, 0.0),
 (804, 0.4999999999999999),
 (805, 0.0),
 (806, 0.0),
 (807, 0.0),
 (808, 0.0),
 (809, 0.0),
 (810, 0.0),
 (811, 0.0),
 (812, 0.0),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.0),
 (819, 0.0),
 (820, 0.4999999999999999),
 (821, 0.0),
 (822, 0.0),
 (823, 0.0),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.0),
 (829, 0.0),
 (830, 0.0),
 (831, 0.0),
 (832, 0.0),
 (833, 0.4999999999999999),
 (834, 0.0),
 (835, 0.0),
 (836, 0.0),
 (837, 0.4999999999999999),
 (838, 0.0),
 (839, 0.0),
 (840, 0.0),
 (841, 0.4999999999999999),
 (842, 0.4999999999999999),
 (843, 0.0),
 (844, 0.0),
 (845, 0.0),
 (846, 0.0),
 (847, 0.0),
 (848, 0.0),
 (849, 0.4999999999999999),
 (850, 0.0),
 (851, 0.4999999999999999),
 (852, 0.0),
 (853, 0.0),
 (854, 0.4999999999999999),
 (855, 0.0),
 (856, 0.0),
 (857, 0.0),
 (858, 0.0),
 (859, 0.0),
 (860, 0.0),
 (861, 0.0),
 (862, 0.0),
 (863, 0.0),
 (864, 0.0),
 (865, 0.0),
 (866, 0.0),
 (867, 0.0),
 (868, 0.4999999999999999),
 (869, 0.0),
 (870, 0.0),
 (871, 0.4999999999999999),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.0),
 (876, 0.0),
 (877, 0.0),
 (878, 0.0),
 (879, 0.4999999999999999),
 (880, 0.4999999999999999),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.0),
 (885, 0.408248290463863),
 (886, 0.0),
 (887, 0.0),
 (888, 0.0),
 (889, 0.408248290463863),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.0),
 (894, 0.4999999999999999),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.4999999999999999),
 (900, 0.0),
 (901, 0.0),
 (902, 0.0),
 (903, 0.0),
 (904, 0.0),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.4999999999999999),
 (915, 0.0),
 (916, 0.0),
 (917, 0.0),
 (918, 0.4999999999999999),
 (919, 0.0),
 (920, 0.0),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.0),
 (931, 0.0),
 (932, 0.0),
 (933, 0.4999999999999999),
 (934, 0.0),
 (935, 0.4999999999999999),
 (936, 0.0),
 (937, 0.0),
 (938, 0.0),
 (939, 0.0),
 (940, 0.0),
 (941, 0.0),
 (942, 0.0),
 (943, 0.0),
 (944, 0.4999999999999999),
 (945, 0.4999999999999999),
 (946, 0.0),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.0),
 (951, 0.0),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.0),
 (960, 0.4999999999999999),
 (961, 0.0),
 (962, 0.0),
 (963, 0.0),
 (964, 0.0),
 (965, 0.0),
 (966, 0.0),
 (967, 0.4999999999999999),
 (968, 0.0),
 (969, 0.0),
 (970, 0.4999999999999999),
 (971, 0.4999999999999999),
 (972, 0.0),
 (973, 0.0),
 (974, 0.0),
 (975, 0.4999999999999999),
 (976, 0.0),
 (977, 0.0),
 (978, 0.0),
 (979, 0.0),
 (980, 0.0),
 (981, 0.0),
 (982, 0.0),
 (983, 0.4999999999999999),
 (984, 0.0),
 (985, 0.0),
 (986, 0.4999999999999999),
 (987, 0.0),
 (988, 0.0),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0),
 (992, 0.0),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.4999999999999999),
 (997, 0.0),
 (998, 0.0),
 (999, 0.4999999999999999),
 ...]

In [ ]:
# sort berdasarkan similarity-nya
similarCars = sorted(similarCars, key=lambda x: x[1], reverse=True)
similarCars

In [99]:
# 5 mobil yang mirip

similarCars[:6]

[(0, 0.9999999999999998),
 (6, 0.4999999999999999),
 (9, 0.4999999999999999),
 (12, 0.4999999999999999),
 (14, 0.4999999999999999),
 (21, 0.4999999999999999)]

In [102]:
#print(df['BC'].iloc[21])
#df.iloc[[similarCars[:6][i][0] for i in range(0,6)]]

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,BC,MC
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,toyota black,cruiser black
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left,chevrolet black,pk black
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left,ford black,mpv black
12,12,31900,chevrolet,1500,2018,clean vehicle,22909.0,black,3gcukrec0jg176059,167763273,tennessee,usa,22 hours left,chevrolet black,1500 black
14,14,20700,ford,door,2013,clean vehicle,100757.0,black,1ftfw1et7dfa47790,167753916,virginia,usa,22 hours left,ford black,door black
21,21,7300,kia,forte,2018,clean vehicle,38823.0,black,3kpfl4a79je272611,167801773,north carolina,usa,2 days left,kia black,forte black

In [94]:

dfRec = []
for i in similarCars[:6]:
    #print(df['BC'].iloc[i[0]])
    dfRec.append(df.iloc[i[0]])
dfRec = pd.DataFrame(dfRec)
dfRec

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,BC,MC
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,toyota black,cruiser black
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left,chevrolet black,pk black
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left,ford black,mpv black
12,12,31900,chevrolet,1500,2018,clean vehicle,22909.0,black,3gcukrec0jg176059,167763273,tennessee,usa,22 hours left,chevrolet black,1500 black
14,14,20700,ford,door,2013,clean vehicle,100757.0,black,1ftfw1et7dfa47790,167753916,virginia,usa,22 hours left,ford black,door black
21,21,7300,kia,forte,2018,clean vehicle,38823.0,black,3kpfl4a79je272611,167801773,north carolina,usa,2 days left,kia black,forte black